body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/303/793/304/buffet-meal-food-brunch-wallpaper-preview.jpg);
    height: 50%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}
.text-white{
    background-image: linear-gradient(to left,rgb(245, 112, 172),rgb(245, 255, 107)); 
}
.btn{
    background-image: linear-gradient(to left,rgba(0, 79, 250, 0.801),rgba(0, 72, 255, 0.379));  
}
.btn-1{
    border: 1px solid black;
   } 
   a:link{
    color: white;
}
a:visited{
    color: black;
}
a:hover{
   color: red;
}
.card{
    background-image: linear-gradient(to left, rgba(41, 40, 40, 0.399), rgba(52, 39, 39, 0.221));  
    font-family:'Times New Roman', Times, serif;
    border: 1px soild black;
    border-radius: 20px;
}
